<!DOCTYPE html>
<html>
<head>
    <title>normal tree</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/static/xiaochiPlot/chiplot_favicon.ico" type="image/x-icon" />

    <meta name="viewport" content="user-scalable=0">

    <script>
    (function () {
        var blockedRemote = /hm\.baidu\.com|47d716c6a895304c7f445584d20fc2ad/i;
        function isBlockedNode(node) {
            return node && node.tagName === 'SCRIPT' && blockedRemote.test(node.src || node.getAttribute('src') || node.dataset.tvbotBlockedSrc || '');
        }
        var createElement = Document.prototype.createElement;
        Document.prototype.createElement = function (tagName, options) {
            var el = createElement.call(this, tagName, options);
            if (String(tagName).toLowerCase() === 'script' && window.HTMLScriptElement) {
                var srcDescriptor = Object.getOwnPropertyDescriptor(HTMLScriptElement.prototype, 'src');
                if (srcDescriptor && srcDescriptor.set && srcDescriptor.get) {
                    Object.defineProperty(el, 'src', {
                        configurable: true,
                        enumerable: true,
                        get: function () { return srcDescriptor.get.call(this); },
                        set: function (value) {
                            if (blockedRemote.test(String(value))) {
                                this.dataset.tvbotBlockedSrc = String(value);
                                this.setAttribute('data-tvbot-blocked-src', String(value));
                                return;
                            }
                            srcDescriptor.set.call(this, value);
                        }
                    });
                }
            }
            return el;
        };
        var insertBefore = Node.prototype.insertBefore;
        Node.prototype.insertBefore = function (node, referenceNode) {
            return isBlockedNode(node) ? node : insertBefore.call(this, node, referenceNode);
        };
        var appendChild = Node.prototype.appendChild;
        Node.prototype.appendChild = function (node) {
            return isBlockedNode(node) ? node : appendChild.call(this, node);
        };
        new MutationObserver(function (records) {
            records.forEach(function (record) {
                Array.prototype.forEach.call(record.addedNodes || [], function (node) {
                    if (isBlockedNode(node) && node.parentNode) node.parentNode.removeChild(node);
                });
            });
        }).observe(document.documentElement, { childList: true, subtree: true });
    }());
    </script>

</head>
<script src="/static/vendor/d3.v7.6.1.min.js"></script>
<script src="/static/vendor/d3-color.v1.min.js"></script>
<!--<script src="/static/xiaochiPlot/js/underscore-min.js"></script>-->
<script src="/static/vendor/vue.global.js"></script>
<script src="/static/vendor/xlsx.core.min.js"></script>
<!--<script src="/static/js/colorbrewer.js"></script>-->
<script src="/static/vendor/axios.min.js"></script>

<!--<link rel="stylesheet" type="text/css" href="/static/css/colorUI.css">-->
<link href="/static/vendor/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/css/plotStyle.css">
<link rel="stylesheet" type="text/css" href="/static/css/icon.css">
<link rel="stylesheet" type="text/css" href="/static/css/cuIcon-glyphs.css">
<link rel="stylesheet" type="text/css" href="/static/css/animation.css">
<link rel="stylesheet" type="text/css" href="/static/css/normalTree.css">



<body>

<div id="app2">
    <svg-resizebox  ref="svgResizebox"  ></svg-resizebox>

</div>

<div id="svg-div" style="position: absolute;left: 0px;">


    <!--    外面要套一层div才能被html2canvas识别    -->
    <svg  id="svg" ></svg>

</div>
<div id="layout_phylotree_context_menu_app">
    <div v-show="isShowMenu" id="tree-structure-change-btn-box"  :style="{top: clientY + 'px', left: clientX  + 'px'}">
        <div class="tree-structure-change-btn-item" >
            <div class="cuIcon-fork" style="color: #42b983;font-size: 20px;"></div>
        <div class="btn-click—box" @touchstart="reRoot" @click="reRoot">Reroot on this node</div>
           <div style="display: flex;margin-left: 5px;">
               <label class="mybutton" style="cursor: auto !important;">offset</label>
               <input v-model="offsetRate" data-type="ignoreClick" style="width: 24px;border: none;background-color: #f1f3fa;border-radius: 0.25rem;">
           </div>
        </div>
        <section v-for="btn in btnItemArr">

        <div v-show="btn.show" class="tree-structure-change-btn-item" @touchstart="handleBtnClick(btn.method)" @click="handleBtnClick(btn.method)">
            <div :class="btn.icon" style="color: #42b983;font-size: 20px;"></div>
            <div class="btn-click—box">{{btn.name}}</div>
        </div>
        </section>



    </div>
</div>
<div id="app" style="overflow: hidden;" v-cloak>
    <control-plane  ref="controlPlane" :cindex="currentControlListIndex" ></control-plane>
    <layer-plane ref="layerPlane"></layer-plane>
</div>
<div class="page-loading" id="page-loading-box" style="position:absolute;width:100%;display: flex;justify-content: center;top: 300px;flex-direction: column;">
    <span style="text-align: center;color: white;">Loading...</span>
</div>
<div id="project-manager-app" v-cloak>
    <project-manager ref="projectManager"></project-manager>
</div>
<div id="qrcode-app" v-cloak>
    <cookie-law-box></cookie-law-box>
</div>


</body>
<script type="module" src="/static/xiaochiPlot/minJS/normalTree.min.js"></script>


</html>